<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter an ISBN</h1>
	 <form name="booklu" method="POST" action="/books/lookup">
	 	<input type="text" name="isbn" 
		<% if ( typeof isbn != "undefined" ){ %>
			value="<%= isbn %>"
		<% } %> />
		<input type="submit" value="search" />
	 </form>
	 <% if ( typeof bookTitle != "undefined" ){ %>
	 <h2>Found a match: <%= bookTitle %></h2>
	 <% } else { %>
	 <h2>Book not found.</h2>
	 <% } %>
	 <% if ( typeof pic != "undefined" ) { %>
	 <img src="<%= pic %>"/>
	 <% } else { %>
	 <h3>No picture available</h3>
	 <% } %>
  </body>
</html>
	