<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <% if (typeof fiboval !== "undefined") { %>
	<p>Fibonacci result for <%= fibonum %> is: <%= fiboval %></p>
	<% } %>
	<p>Enter a number to see its Fibonacci value</p>
	<form name="fibonacci" method="post" action="/fibo">
		<input type="text" name="fibonum" />
		<input type="submit" value="compute" />
	</form>
  </body>
</html>
	