<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= description %></p>
	 <p>Hosted by <%= host %></p>
	 </br>
	 <div class="navbar">
		<a href="books">Book lookup</a></br>
		<!--<a href="fibo">Fibonacci dumb processing, will lock node.js loop [<i>working with a book from David Herron</i>]</a>-->
	</div>
  </body>
</html>
