<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= description %></p>
	 <p>Hosted by <%= host %></p>
	 </br>
	 <a href="books">Book lookup</a></br>
	 <a href="users">Users</a>
  </body>
</html>
