<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= appname %></p>
	 <div class="navbar">
		<a href="books">Book lookup</a></br>
	</div>
  </body>
</html>
